* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.navbar {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  max-width: 1400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 50px;
  text-decoration: none;
}
.nav-lists {
  list-style: none;
  text-decoration: none;
}
.nav-list a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.btn-primary {
  background-color: green;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
/*  nav done */
.btn-secondary {
  background: none;

  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
.Hero {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600 px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 20px 50px;
}
.early-btn {
  font-size: larger;
  background-color: rgb(232, 231, 224);
  color: black;
  padding: 20px 160px;
  border-radius: 40px;
}

.banner-description p {
  font-size: 20px;
  text-align: center;
  max-width: 600px;
}
.two-buton {
  display: flex;
  gap: 20px;
  align-items: center;

  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.banner-description {
  margin-bottom: 10px;
}
.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}
.cards-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.Notes {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.Brain-Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.Ready-think {
  background-color: bisque;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  gap: 40px;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  height: 400px;
  background-color: rgb(8, 2, 91);
  color: white;
  text-align: center;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
}
.logo-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 20px;
}
.copywrite {
  margin-top: 20px;
}
