* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

.navbar {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  max-width: 1400px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 50px;
  text-decoration: none;
}
.nav-lists {
  list-style: none;
  text-decoration: none;
}
.nav-list a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.btn-primary {
  background-color: green;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
/*  nav done */

.btn-primary2 {
  background-color: green;
  color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn-secondary {
  background: none;

  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
}
.Hero {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600 px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  padding: 20px 50px;
}
.early-btn {
  font-size: larger;
  background-color: rgb(232, 231, 224);
  color: black;
  padding: 20px 160px;
  border-radius: 40px;
}
.online {
  height: 15px;
  width: 15px;
  background-color: rgb(135, 215, 135);
  border: 5px solid rgb(18, 106, 18);
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.thinking-line {
  font-size: 40px;
  font-weight: 800;
  color: white;
}

.note-taking-line {
  font-size: 40px;
  font-weight: 800;
  color: green;
}
.banner-description p {
  font-size: 20px;
  text-align: center;
  max-width: 600px;
  color: rgba(255, 255, 255, 0.907);
}

.first-button {
  display: flex;
  align-items: center;
}
.two-buton {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.banner-description {
  margin-bottom: 10px;
}

/* card section */
.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  padding: 20px;
  max-width: 320px;
  text-align: center;
  height: 300px;
  background-color: rgb(243, 243, 233);
}
.cards-section {
  display: flex;
  f
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.icon {
  align-items: center;
  text-align: center;
  align-content: center;
  background-color: tomato;
  height: 75px;
  width: 75px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 0 auto;
}

.card-h {
  font-size: 25px;
  font-weight: 700;
  margin: 20px 0;}

  .card-p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.589);
    text-align: justify;
  } 

.Notes {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.note-head {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}
.note-des {
  font-size: 14px;
  text-align: center;
  max-width: 600px;
  color: rgba(0, 0, 0, 0.489);
  margin: 0 auto;
  margin-bottom: 20px;
}
.Brain-Banner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  padding: 20px;
  margin-bottom: 20px;
}

.Ready-think {
  background-color: rgb(252, 237, 218);
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  gap: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.brain-p {
  color: green;
}
.brain-des {
  color: slategrey;
  max-width: 80%;
font-size: smaller;
  text-align:right
  margin-top: 20px;
  margin-bottom: 20px;
}
.listtt{
  margin-bottom: 10px;
}

.side-info{
  margin-bottom: 20px;
}

.ready-des{
  width: 70%;
  margin: auto;
  text-align: center;
  font-size: small;
  margin-top: 20px;
  margin-bottom: 20px;
  color:slategrey;
}

.btn-primary3 {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
 
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.ready-pp{
  font-size: small;
  color: rgba(0, 0, 0, 0.589);
  margin-bottom: 20px;
}
footer {
  height: 400px;
  background-color: rgb(8, 2, 91);
  color: white;
  text-align: center;
  align-items: center;
  padding: 50px;
  margin-top: 20px;
}
.logo-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 20px;
}
.copywrite {
  margin-top: 20px;
}

.footer-p{
  font-size: small;
  color: white;
}